/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');


/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Container styles */
.container {
    width:650px;
    padding: 25px;
    background-color: #FFFDFB;
    margin-top: 100px;
    box-shadow: 0 2px 3px;
    border-radius: 15px;
}

/* Heading styles*/
h1 {
    font-family: 'Lato', sans-serif;
    color: #0881A3;
    font-weight: bold;
    text-align: center;
}