/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');


/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

/* Container styles */
.container {
    text-align: center;
    width: 700px;
    padding: 25px;
    background-color: #FFFDFB;
    margin-top: 30px;
    box-shadow: 0 2px 3px rgb(245, 194, 132);
    border-radius: 15px;
}

/* Heading styles*/
h1 {
    font-family: 'Lato', sans-serif;
    color: #0881A3;
    font-weight: bold;
    text-align: center;
}

/* Question styles */
.question {
    color: #f49c31;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Option styles */
.option {
    display: block;
    margin-bottom: 10px;
    margin-top: 12px;
}

/* Button styles */
.button {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #0881A3;
    color: #FFFDFB;
    border: none;
    border-radius: 15px;
    font-size: 15px;
}

/* Hover effect for button */
.button:hover {
    background-color: #276396;
}

/* Results styles */
#results {
    max-height: 300px;
    overflow-y: auto;
}
.result {
    text-align: center;
}

/* Hide Class */
.hide {
    display: none;
}